.News {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    width: 1000px;
    background: #FFFFFF;
}

.News-title {
    display: block;
    margin-top: 32px;
    margin-left: -908px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    /* 深灰色 */

    color: #363636;
}

.News-item {
    padding-left: 20px;
    padding-top: 20px;
}

.News-name {
    margin-left: -600px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    /* 主色 */

    color: #3D6DB5;
}

.News-time {
    width: 90px;
    margin-top: -25px;
    margin-left: 750px;
}

.ant-list-item-meta-description>div>div:first-child:hover {
    cursor: pointer;
    color: #3D6DB5;
}